extends includes/template.pug

block body
  if !session.data.userID
    .s-empty-state.wmx4.p48
      != icons.Spots.SpotEmptyXL
      p You need to log in to manage your servers.
      .d-flex.jc-center.g8
        a.s-btn.s-btn__icon.s-btn__featured.s-btn__filled(href=rel("/oauth"))
          != icons.Icons.IconDiscord
          = ` Log in with Discord`
        a.s-btn.s-btn__icon.s-btn__matrix.s-btn__filled(href=rel("/log-in-with-matrix"))
          != icons.Icons.IconSpeechBubble
          = ` Log in with Matrix`

  else if !guild_id
    .s-empty-state.wmx4.p48
      != icons.Spots.SpotEmptyXL
      p Select a server from the top right corner to continue.
      p If the server you're looking for isn't there, try #[a(href=rel("/oauth?action=add")) logging in again.]

  else if !discord.guilds.has(guild_id) || !managed.has(guild_id)
    .s-empty-state.wmx4.p48
      != icons.Spots.SpotAlertXL
      p Either the selected server doesn't exist, or you don't have the Manage Server permission on Discord.
      p If you've checked your permissions, try #[a(href=rel("/oauth")) logging in again.]

  else if !row
    .s-empty-state.wmx4.p48
      != icons.Spots.SpotAlertXL
      p Please add the bot to your server using the buttons on the home page.

  else
    .s-empty-state.wmx4.p48
      != icons.Spots.SpotAlertXL
      p Access denied.
