extends includes/template.pug

block body
  .s-page-title.mb24
    h1.s-page-title--header Bridge a Discord server

  .d-grid.grid__2.g24
    .s-card.bs-md.d-flex.fd-column
      h2 Easy mode
      p Add the bot to your Discord server.
      p It will automatically create new Matrix rooms for you.
      .fl-grow1
      a.s-btn.s-btn__filled.s-btn__icon(href="/oauth?action=add")
        != icons.Icons.IconPlus
        = ` Add to server`
    .s-card.bs-md.d-flex.fd-column
      h2 Self-service
      p OOYE will link an existing Discord server and Matrix space together.
      p Choose this option if you already have a community set up on Matrix.
      p Or, choose this if you're migrating from a different bridge.
      .fl-grow1
      a.s-btn.s-btn__outlined.s-btn__icon(href="/oauth?action=add-self-service")
        != icons.Icons.IconUnorderedList
        = ` Set up self-service`
